.table-wrapper {
  padding: 10px;
  &.red {
    border: 2px solid red;
  }
  &.green {
    border: 2px solid green;
  }
  &.blue {
    border: 2px solid blue;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;

    table, th, td {
      border: 1px solid black;
    }

    td {
      padding: 10px;
    }

    td.empty {
      background-color: gray;
    }
  }

  button {
    padding: 10px;
    font-size: 16px;
  }

  .float-right {
    float: right;
  }

  span {
    margin-top: 10px;
  }
}