.table-config {
  background: lightgray;
  position: absolute;
  width: 50%;
  font-size: 17px;
  h1, h2, h3, h4 {
    padding-left: 10px;
    span {
      text-transform: uppercase;
      font-weight: bold;
    }
    .red {
      color: red
    }

    .green {
      color: green
    }

    .blue {
      color: blue
    }
  }

  label {
    padding: 10px;
    float: left;
  }

  input {
    width: calc(100% - 65px);
    padding: 10px 5px;
    margin-right: 10px;
    float: right;

    &#width {
      width: calc(100% - 95px);
      margin-right: 40px;
    }

    &:invalid {
      border-color: red;
    }

    &:valid {
      border-color: #ccc;
    }
  }

  span.percent {
    position: absolute;
    right: 20px;
    margin-top: 10px;
  }

  .float-right {
    float: right;
  }

  .direction-wrapper {
    padding: 10px 0;
    margin-right: 10px;
    width: calc(100% - 50px);
  }

  > div {
    margin-bottom: 5px;
    float: left;
    width: 100%;
  }

  button {
    margin: 10px 5px;
    padding: 10px;
    font-size: 16px;
  }
}