<!DOCTYPE html>
<html class="no-js">
<head>
    <title>CrowdStreet</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">

    <link rel="icon" href="/favicon.ico"/>

    <!-- [if lt IE 9]>
    <script scr="//html5shiv.googlecode.com/svn/trunk/hmtl5.js"></script>
    <script>window.html5 || document.write('<script scr="js/html5shiv.js"></script>')</script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <%=htmlWebpackPlugin.files.webpackManifest%>
</head>
<body>
<!-- [if lt IE 8]>
<p class="browserupgrade">
    Please <a href="http://browsehappy.com/">upgrade your browser</a>
</p>
<![endif]-->
<div id="app"></div>
</body>
</html>