.main {
  .table-wrapper {
    display: inline-table;
    margin: 10px 5px;
    margin-bottom: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 960px) {
  .main {
    .table-wrapper.blue {
      display: none;
    }
  }
}